/* ======================  HEADER ============================ */
.header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.2fr;
    padding: 12px 0px 12px;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
    z-index: 1000; 
}

.header_scroll {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* ======================  LOGO ============================ */
/*
.logoContainer {
    background-color: lightcoral;
}
*/

.logo {
    width: 100px;
    height: auto;
    object-fit: contain;
}


/* ====================== NAVIGATION BAR ============================ */
.navBar {
    display: flex;
    justify-content: end;
}

.listUl {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.listUl li a {
    text-decoration: none;
    color: black;
}


/* ====================== NAVIGATION BAR MOBILE VERSION ============================ */

.navBarMobile {
    display: none;
}



/* ====================== LANGUAGE SWITCHER ============================ */
.lgSwitcherContainer {
    display: flex;
    justify-content: end;
    font-size: 13px;
}

.lgSwitcher {
    display: flex;
    align-items: center;
    gap: 5px;
}

.burgerNavContainer {
    display: none;
}

.selectOption {
    border: none;
    background-color: white;
}

.optionLgn {
    display: none;
    color: red;
}

@media only screen and (max-width: 900px) {

    .lgSwitcherContainer {
        font-size: 11px;
    }

    .header {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        margin: 0 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 700px) {

    .navBar {
        display: none;
    }

    .logoContainer {
        display: flex;
        justify-content: center;
    }

    .lgSwitcherContainer {
        font-size: 10px;

    }

    .burgerNavContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 25px;
        position: relative;
    }

    .burgerBar {
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: black;
        border-radius: 10px;
    }

    .burgerBar_1 {
        top: 0px;
    }

    .burgerBar_2 {
        top: 8px;
    }

    .burgerBar_3 {
        bottom: 0px;
    }

    .burgerBar_1_active {
        top: 8px;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out;
    }

    .burgerBar_2_active {
        display: none;
        transition: transform 0.3s ease-in-out;
    }

    .burgerBar_3_active {
        bottom: 8px;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out;
    }

    .navBarMobile {
        display: inherit;
        position:fixed;
        top: 78px;
        width: 100%;
        left: 0px;
        right: 0px;
        height: 100vh;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navBarMobile_active {
        transform: translateX(0);
    }

    .listUlMobile {
        text-align: center;
        list-style: none;
        padding: 0;
        line-height: 50px;
        margin: 0;
    }

    .listUlMobile li a {
        text-decoration: none;
        color: black;
        display: block;
        height: 30px;
        border-bottom: 1px solid gainsboro;
        padding: 30px;
        margin: 0 20px;
    }



}