.footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.titleContainer {
    text-align: center;
    font-size: 2.5rem;
}

.itemContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.itemSubContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    font-size: 25px;
}

.getStartContainer {
    margin-top: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.copyright {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    background-color: #2C3E50;
    font-size: 15px;
}


@media only screen and (max-width: 700px) {

    .itemContainer {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-top: 10px;
    }

    .itemSubContainer {
        width: 200px;
    }

    .copyright {
        font-size: 13px;
    }

}
