
.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}

.titleContainer {
    line-height: 10px;
}

.title {
    font-size: 4rem;
    color: white;
}

.subTitle {
    font-size: 1.5rem;
}

.btn {
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 20px;
    border: none;
    background-color: #FF6B6B;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fd5959;
}

.btn a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 850px) {
.title {
    font-size: 2.5rem;
    color: white;
}

.subTitle {
    font-size: 1rem;
}

.titleContainer {
    line-height: inherit;
    padding: 0 10px;
}


}